/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border:1px solid grey; */
}

/* General style */

html {
  font-size: 63.5%;
  background: radial-gradient(
    55.21% 174.49% at 71.2% 52.82%,
    rgba(235, 210, 189, 0.82) 0%,
    rgba(235, 210, 189, 0.29) 100%
  );
  font-family: "Roboto", sans-serif;
  /* border: 1px solid black; */
}

nav {
  margin-left: 50%;
  margin-right: 5%;
  margin-top: 2%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: #6c5146;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid gray; */
}

nav a:hover {
  color: #9f205a;
}

.main {
  /* border: 1px solid gray; */
  display: flex;
  justify-content: space-around;
}

.text {
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  margin-top: 17%;
  margin-left: 8%;
  margin-bottom: 20%;
  color: #6c5146;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
.sayo {
  color: #9f205a;
}
.intro {
  display: flex;
  font-size: 35px;
}
.typing {
  margin-left: 10px;
  position: relative;
}
.typing::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 90%;
  border-right: 2px solid #6c5146;
  animation: blink 0.9s infinite ease;
}
@keyframes blink {
  to {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.vector {
  position: absolute;
  width: 65rem;
  height: 66rem;
  border-radius: 66% 34% 37% 63% /57% 31% 69% 43%;
  margin-left: 0%;
  margin-top: 3.6%;
  background: linear-gradient(
    180deg,
    #9c7785 0%,
    rgba(164, 132, 144, 0.81) 100%
  );
  text-decoration: none;
  animation: wave 50s ease-in-out infinite;
}

/* @keyframes wave {
  0%,
  100% {
    border-radius: 66% 34% 37% 63% /57% 31% 69% 43%;
  }
  60% {
    border-radius: 25% 75% 50% 50% / 25% 50% 45% 50%;
  }
} */

img {
  position: relative;
  width: 73rem;
  height: 69rem;
  /* border: 1px solid gray; */
  transform: rotate(2.27deg);
}

/* here is popup */

.pop .overlay {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90vw;
  height: 89vh;
  background: rgba(213, 204, 204, 0.92);
  z-index: 1;
  display: none;
}

/* .pop .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
} */

.pop .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: #222;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.pop.active .overlay {
  display: block;
}

.pop.active .container {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* This is line animation!!!!! */

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo path:nth-child(1) {
  stroke-dasharray: 200px;
  stroke-dasharray: 50px;
}
#logo path:nth-child(2) {
}
#logo path:nth-child(3) {
}
#logo path:nth-child(4) {
}
#logo path:nth-child(5) {
}
#logo path:nth-child(6) {
}
#logo path:nth-child(7) {
}
