/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border:1px solid grey; */
}

/* General style */

html {
  font-size: 63.5%;
  background-color: rgba(235, 210, 189, 0.82);
  font-family: "Roboto", sans-serif;
  /* border: 1px solid black; */
}

nav {
  margin-left: 65%;
  margin-right: 5%;
  margin-top: 2%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: #6c5146;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid gray; */
}

nav a:hover {
  color: #9f205a;
}

.main {
  /* border: 1px solid gray; */
  display: flex;
  justify-content: space-around;
}

.text {
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  margin-top: 17%;
  margin-left: 8%;
  margin-bottom: 20%;
  color: #6c5146;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
}
.sayo {
  color: #9f205a;
}
.intro {
  display: flex;
  font-size: 35px;
}
.typing {
  margin-left: 10px;
  position: relative;
}
.typing::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 90%;
  border-right: 2px solid #6c5146;
  animation: blink 0.9s infinite ease;
}
@keyframes blink {
  to {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.vector {
  position: absolute;
  width: 65rem;
  height: 60rem;
  border-radius: 40% 55% 50% 50% / 40% 50% 45% 50%;
  margin-left: 0%;
  margin-top: 0%;
  background: #db9d87;
  text-decoration: none;
  /* animation: wave 50s ease-in-out infinite; */
}

@keyframes wave {
  0%,
  100% {
    border-radius: 66% 34% 37% 63% /57% 31% 69% 43%;
  }
  60% {
    border-radius: 25% 75% 50% 50% / 25% 50% 45% 50%;
  }
}
.vector-two {
  position: absolute;
  z-index: -2;
  width: 34vw;
  height: 33vw;
  border-radius: 66% 34% 37% 63% /57% 31% 69% 43%;
  margin-left: -9%;
  margin-top: 8%;
  background: linear-gradient(
    180deg,
    #9c7785 0%,
    rgba(164, 132, 144, 0.81) 100%
  );
  text-decoration: none;
}

.vector-three {
  position: absolute;
  z-index: -1;
  width: 34vw;
  height: 33vw;
  border-radius: 66% 34% 37% 63% /57% 31% 69% 43%;
  margin-left: 3%;
  margin-top: 12%;
  background: #7a8888;
  text-decoration: none;
}

img {
  position: relative;
  width: 63rem;
  height: 59rem;
  margin-top: 11%;
  margin-left: 0%;
  /* border: 1px solid gray; */
  transform: rotate(2.27deg);
}

/* here is popup */

.pop .overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(235, 210, 189, 0.99);
  z-index: 1;
  display: none;
  animation: zoom 0.75s ease;
  overflow-y: scroll;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}

/* this is close button */
.pop .close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: #6c5146;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 80%;
}

.pop.active .overlay {
  display: block;
}

.overlay {
  /* border: 2px solid black; */
  color: #6c5146;
}

.overlay h2 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 10%;
  letter-spacing: 0.5px;
  color: #6c5146;
  /* border: 2px solid black; */
}

.overlay p {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  padding: 3%;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 0% 10%;
}

.resumeDoc {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 1200px;
  margin: 3% auto;
}

/* This is line animation!!!!! */

/* This is portfolio gif!!!!! */

.videos {
  /* border: 2px solid black; */
  margin: 5% 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#fitness {
  /* border: 2px solid black; */
  width: 40vw;
  height: 25vw;
  transform: rotate(0deg);
}
.fitness {
  transition: transform 250ms;
  margin-right: 5%;
}

.fitness:hover {
  transform: translateY(-10px);
}

#recipe {
  width: 40vw;
  height: 25vw;
  transform: rotate(0deg);
}
.recipe {
  transition: transform 250ms;
}

.recipe:hover {
  transform: translateY(-10px);
}

/* Responsive Design */
/* 320px
480px
600px
768px
900px
1024px
1200px */

/* 320px */

/* @media (max-width: 1920px) {
  nav {
    margin-left: 50%;
    margin-right: 5%;
    margin-top: 3%;
  }
  nav a {
    font-size: 30px;
  }
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 60px;
  }
  .text {
    border: 2px solid black;
    width: 100%;
  }
  .intro {
    font-size: 50px;
  }

  .vector {
    width: 59vw;
    height: 60vw;
    margin-top: 10%;
    margin-left: 43%;
    border: 2px solid black;
  }
  img {
    border: 2px solid black;
    width: 93vw;
    height: 59vw;
    margin-right: 0%;
    margin-top: 0ss%;
  }

  here is popup
  .overlay h2 {
    font-size: 60px;
  }
  .overlay p {
    font-size: 30px;
  }
  .videos {
    border: 2px solid black;
    margin: 5% 10%;
  }
  .fitness {
    margin-right: 5%;
  }
} */

@media (max-width: 1500px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 50px;
  }
  .text {
    /* border: 1px solid gray; */
    margin-left: 8%;
  }
  .vector {
    width: 55rem;
    height: 56rem;
    margin-right: 60%;
    margin-top: 3%;
  }
  .vector-two {
    margin-top: 14%;
    margin-left: -6;
  }
  .vector-three {
    margin-left: 13%;
    margin-top: 14%;
  }
  img {
    margin-right: 0%;
    /* border: 1px solid gray; */
  }
}

@media (max-width: 1280px) {
  nav {
    margin-left: 40%;
    margin-right: 5%;
    margin-top: 3%;
  }
  nav a {
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  .text {
    /* border: 2px solid black; */
    width: 50%;
    /* margin-top: 20%; */
  }
  .intro {
    font-size: 30px;
  }

  .vector {
    width: 37vw;
    height: 36vw;
    margin-top: 4%;
    margin-left: 3%;
  }
  .vector-two {
    width: 34vw;
    height: 33vw;
    margin-top: 13%;
  }

  .vector-three {
    width: 34vw;
    height: 33vw;
    margin-left: 12%;
    margin-top: 15%;
  }
  img {
    width: 53vw;
    height: 40vw;
    margin-left: -5%;
    margin-top: 15%;
  }

  /* here is popup */
  .overlay h2 {
    font-size: 55px;
  }
  .overlay p {
    font-size: 25px;
  }
  .videos {
    /* border: 2px solid black; */
    margin: 5% 10%;
  }
  .fitness {
    margin-right: 5%;
  }
}

@media (max-width: 980px) {
  nav {
    margin-left: 30%;
  }
  nav a {
    font-size: 28px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  .intro {
    font-size: 25px;
  }
  .vector {
    width: 37vw;
    height: 36vw;
    margin-top: 4%;
    margin-left: 3%;
  }
  .vector-two {
    margin-top: 19%;
    margin-left: -18;
    margin-top: 15%;
  }
  .vector-three {
    margin-left: 13.5%;
    margin-top: 15%;
  }
  .overlay h2 {
    font-size: 45px;
  }
  .overlay p {
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 869px) {
  nav {
    margin-left: 30%;
  }
  nav a {
    font-size: 24px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  .intro {
    font-size: 20px;
  }
  .overlay h2 {
    font-size: 40px;
  }
  .overlay p {
    font-size: 15px;
    padding: 10px;
  }
}

/* ここから縦になる */
@media (max-width: 750px) {
  nav {
    margin-left: 10%;
  }
  nav a {
    font-size: 24px;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text {
    /* border: 1px solid gray; */
    margin-bottom: 5%;
  }
  .picture {
    /* border: 2px solid black; */
    margin: 3% 30%;
  }

  .vector {
    margin-top: 2%;
    margin-left: 0%;
  }
  .vector-two {
    width: 34vw;
    height: 33vw;
    margin-top: 14%;
  }

  .vector-three {
    width: 34vw;
    height: 33vw;
    margin-left: 15%;
    margin-top: 15%;
  }
  img {
    margin-left: 12%;
    margin-top: 5.5%;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 23px;
  }
  .intro {
    font-size: 17px;
  }
  .overlay h2 {
    font-size: 35px;
  }
  .overlay p {
    font-size: 15px;
    padding: 10px;
  }
  .videos {
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  .fitness {
    margin-right: 8%;
  }
  .recipe {
    margin-right: 8%;
    margin-top: 10%;
  }
}

@media (max-width: 527px) {
  nav {
    margin: 3% 5%;
    flex-direction: column;
    align-items: center;
  }
  nav a {
    font-size: 15px;
    margin-top: 5%;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 30px;
  }
  .intro {
    font-size: 20px;
  }
  .vector {
    width: 38vw;
    height: 37vw;
    margin-top: 0%;
    margin-left: 3%;
  }
  .vector-two {
    margin-top: 14%;
    margin-left: -10%;
  }
  .vector-three {
    margin-top: 14%;
    margin-left: 20%;
  }
  img {
    /* border: 2px solid black; */
    margin-right: 9%;
    margin-top: 0%;
  }

  .overlay h2 {
    font-size: 30px;
  }
  .overlay p {
    font-size: 15px;
  }
}

@media (max-width: 468px) {
  nav a {
    font-size: 15px;
  }
  h1 {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .intro {
    font-size: 10px;
  }
  .overlay h2 {
    margin-top: 20%;
    font-size: 40px;
  }
  .overlay p {
    font-size: 15px;
  }
  .videos {
    /* border: 2px solid black; */
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
  }
  #fitness {
    /* border: 2px solid black; */
    margin-top: 10%;
    width: 80vw;
    height: 65vw;
  }
  #recipe {
    margin-top: 20%;
    width: 80vw;
    height: 65vw;
  }
}
@media (max-width: 320px) {
  nav a {
    font-size: 10px;
  }
  h1 {
    font-size: 15px;
  }
  h2 {
    font-size: 14px;
  }
  .intro {
    font-size: 13px;
  }
  .overlay h2 {
    margin-top: 20%;
    font-size: 20px;
  }
  .overlay p {
    font-size: 10px;
  }
}
