/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border:1px solid grey; */
    }

    /* General style */

    html{
        font-size:63.5%;
        background-color:#efab93;
     
    }

header{
    background-color:#cc937e
    border:1px solid grey;
    
}
header nav{
    display: flex;
    justify-content: space-evenly;
    margin-left:50%;
    margin-right:0;
    padding:2%;
}

header nav a{
    font-size:30px;
    font-family: 'Josefin Slab', serif; 
    text-decoration: none;
    color:#17184b;
}
nav a:hover{
    color:#c97586;
}

    img{
        width:950px;
        /* border:1px solid grey; */
        margin-left:10%;
       margin-right:5%;

    }
    .top{
        display:flex;
        /* border:1px solid grey; */
    }
    
    .top-right{
        /* border:1px solid grey; */
        margin:10% 10% 10% 5%;
        line-height:2;
        font-family: 'Poiret One', cursive;
    }

    h1{
        font-size:60px;
    }

    .top-right h2{
        font-size: 50px;

    }
    .top-right p{
        font-size: 30px;
    }
    
    .about{
        margin:0 auto;
        border:1px solid grey;
    }

    h2{
        /* border:1px solid grey; */
        font-size:30px;
        font-family: 'Josefin Slab', serif; 
        
    }